html, body {
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    overflow-x: hidden;
    position: relative;
    color: black;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
}
body {
    background-color: rgb(39, 39, 39);
}

.topBar {
    color: aliceblue;
    width: 100%;
    background-color: rgb(39, 39, 39);
    margin: 0%;
    padding: 0% 0% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    margin-left: 1%;
    cursor: pointer;
}



main {
    width: 100%;
    height: 75%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#table {
    width: 40%;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    border-width: 1px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.141),0 1px 3px 0 rgba(0,0,0,0.122);
    height: 50%;
    padding: 0.5%;
    margin-top: 1%;
}

.tr {
    width: 100%;
    margin-top: 1%;
    display: flex;
    border: 1px solid #dfdfdf;
    height: 10%;
}
.tr:first-child {
    border: 0;
}

.tr-selected{
    border-width: 2px;
    border-color:dodgerblue;
}

.th, .td {
    border-right: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.th:last-child, .td:last-child {
    border: 0;
}

#orderidh, .orderid{
width: 10%;
}

#producth, .product{
width: 25%;
}

#buyerh, .buyer {
 width: 60%;
}

#buttonh, .button {
width: 15%;
}

footer {
    width: 100%;
    height: 15%;
    display: flex;
    background-color: rgb(39, 39, 39);
    margin: 0%;
    padding: 0%;
}

footer > div {
    margin-top: 1%;
    margin-left: 5%;
    padding: 0%;
    align-items: center;
}

footer > div > h1 {
    color: aliceblue;
    cursor: pointer;
    font-size: 1.7em;
}

footer > div > p {
    margin: 0%;
    color: whitesmoke;
}

footer > ul {
    width: auto;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: end;
    margin-left: auto;
    margin-right: 8%;

}

footer > ul > li {
    color: #9d9d9d;
    white-space: nowrap;
    margin-right: 10%;
}

footer > ul > li:nth-child(2) {
    margin-right: 0%;
}